In [1]:
# Create Dictionary from list
keys = ['Name','Age','Mobile']
values = ["Moon",24,'01762775529']

D = dict(zip(keys, values))

print(D)

{'Name': 'Moon', 'Age': 24, 'Mobile': '01762775529'}

In [2]:
# marge two dictionary

dict1 = {'Name': 'Moon', 'Age': 24, 'Mobile': '01762775529'}
dict2 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict3 = dict1.copy()
dict3.update(dict2)

print(dict3)

{'Name': 'Moon', 'Age': 24, 'Mobile': '01762775529', 'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:
dict1 = {'Name': 'Moon', 'Age': 24, 'Mobile': '01762775529'}
dict2 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dit3 = {**dict1, **dict2}

print(dit3)

{'Name': 'Moon', 'Age': 24, 'Mobile': '01762775529', 'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [5]:
# Default values in dictionary

employee = ['Rahim', 'Razu', 'Babu']

defaults = {'Designation':'Programmer', 'Salary':80000}

D = dict.fromkeys(employee, defaults)

print(D)

print(D['Razu'])

{'Rahim': {'Designation': 'Programmer', 'Salary': 80000}, 'Razu': {'Designation': 'Programmer', 'Salary': 80000}, 'Babu': {'Designation': 'Programmer', 'Salary': 80000}}
{'Designation': 'Programmer', 'Salary': 80000}

In [7]:
# Delete set of keys from a dictionary

sampleDict = {
    'Name':'Shawon',
    'Age':25,
    'Salary': 80000,
    'City': 'Dinajpur'
}

keyremove = ['Name','Salary']

sampleDict = {k: sampleDict[k] for k in sampleDict.keys()- keyremove}

print(sampleDict)

{'Age': 25, 'City': 'Dinajpur'}

In [9]:
# Find minimum value key

D = {
    "Math":87,
    "Chemistry": 75,
    "Physics": 95,
    "Bangla": 82
}

print(min(D, key=D.get))

Chemistry

### Nested Dictionary

In [1]:
Man = { 1: {"Name":"Moon", 'Age':24, "Phn":'01762775529'},
        2: {"Name":"Shawon", 'Age':26, "Phn":'01762485529'}
}

print(Man)

{1: {'Name': 'Moon', 'Age': 24, 'Phn': '01762775529'}, 2: {'Name': 'Shawon', 'Age': 26, 'Phn': '01762485529'}}

In [4]:
print(Man[1])

{'Name': 'Moon', 'Age': 24, 'Phn': '01762775529'}

In [5]:
print(Man[1]["Name"])

Moon

In [6]:
Man[1]["Sex"]="Male"

print(Man)

{1: {'Name': 'Moon', 'Age': 24, 'Phn': '01762775529', 'Sex': 'Male'}, 2: {'Name': 'Shawon', 'Age': 26, 'Phn': '01762485529'}}

In [7]:
Man[3] = {"Name":"Rahim", 'Age':32, "Phn":'01522485529'}

print(Man)

{1: {'Name': 'Moon', 'Age': 24, 'Phn': '01762775529', 'Sex': 'Male'}, 2: {'Name': 'Shawon', 'Age': 26, 'Phn': '01762485529'}, 3: {'Name': 'Rahim', 'Age': 32, 'Phn': '01522485529'}}

In [8]:
del Man[2]

print(Man)

{1: {'Name': 'Moon', 'Age': 24, 'Phn': '01762775529', 'Sex': 'Male'}, 3: {'Name': 'Rahim', 'Age': 32, 'Phn': '01522485529'}}

In [9]:
Man.pop(3)

print(Man)

{1: {'Name': 'Moon', 'Age': 24, 'Phn': '01762775529', 'Sex': 'Male'}}

In [10]:
IDs = ['emp1','emp2','emp3']

EmpInfo = [{'name': 'Bob', 'job': 'Mgr'},
           {'name': 'Kim', 'job': 'Dev'},
           {'name': 'Sam', 'job': 'Dev'}]

D = dict(zip(IDs,EmpInfo))

print(D)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sam', 'job': 'Dev'}}

### Nested Dictionary - 2

In [11]:
D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

D['emp3']['name'] = "Sagor"
D['emp3']['job'] = "Eng"

print(D)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sagor', 'job': 'Eng'}}

In [12]:
D['emp3'] = {'name': 'Sam', 'job': 'Dev'}

print(D)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sam', 'job': 'Dev'}}

In [13]:
#Merge Two Nested Dictionaries

D1 = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
      'emp2': {'name': 'Kim', 'job': 'Dev'}}

D2 = {'emp2': {'name': 'Sam', 'job': 'Dev'},
      'emp3': {'name': 'Max', 'job': 'Janitor'}}

D1.update(D2)

print(D1)

{'emp1': {'name': 'Bob', 'job': 'Mgr'}, 'emp2': {'name': 'Sam', 'job': 'Dev'}, 'emp3': {'name': 'Max', 'job': 'Janitor'}}

In [15]:
#Iterate Through a Nested Dictionary

D = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}

for id, info in D.items():
    print("\nEmployee: ", id)
    for key in info:
        print(key + ':' , info[key])

Employee:  emp1
name: Bob
job: Mgr

Employee:  emp2
name: Kim
job: Dev

Employee:  emp3
name: Sam
job: Dev

In [16]:
for id, info in D.items():
    print("\nEmployee: ", id)
    #for key in info:
    print(key + ':' , info[key])

Employee:  emp1
job: Mgr

Employee:  emp2
job: Dev

Employee:  emp3
job: Dev